/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@keyframes blink {
  from {
    color: black;
  }
  to {
    color: white;
  }
}
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(https://fonts.gstatic.com/s/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuYFI.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo Paaji 2 SemiBold'), local('BalooPaaji2-SemiBold'), url(https://fonts.gstatic.com/s/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWIq-OwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Comic Neue Light'), local('ComicNeue-Light'), url(https://fonts.gstatic.com/s/comicneue/v1/4UaErEJDsxBrF37olUeD_wHLwps.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Paaji 2 Regular'), local('BalooPaaji2-Regular'), url(https://fonts.gstatic.com/s/baloopaaji2/v1/i7dMIFFzbz-QHZUdV9_UGWZuYFI.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Paaji 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo Paaji 2 SemiBold'), local('BalooPaaji2-SemiBold'), url(https://fonts.gstatic.com/s/baloopaaji2/v1/i7dRIFFzbz-QHZUdV9_UGWZuWIq-OwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Comic Neue Light'), local('ComicNeue-Light'), url(https://fonts.gstatic.com/s/comicneue/v1/4UaErEJDsxBrF37olUeD_wHLwps.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Serif Bold'), local('IBMPlexSerif-Bold'), url(https://fonts.gstatic.com/s/ibmplexserif/v8/jizAREVNn1dOx-zrZ2X3pZvkTi2k_hIz.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  text-align: center;
}
html,
body {
  height: 100%;
  background-color: cornflowerblue;
}
.wrapper {
  background-color: #d8b9aa;
  margin: 0% 10%;
  font-family: 'Comic Neue', cursive;
}
.wrapper header {
  font-family: 'IBM Plex Serif', serif;
  padding: 4%;
}
.wrapper header h1 {
  font-size: 200%;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.wrapper header nav {
  margin: 1% 0%;
  display: flex;
  justify-content: space-between;
}
.wrapper header nav a {
  text-decoration: none;
  letter-spacing: 4px;
  border: 1px solid black;
  border-style: none none solid none;
  color: yellowgreen;
}
.wrapper .heroImg img {
  width: 100%;
  height: 200px;
}
.wrapper .jobTitle h2 {
  font-weight: bold;
  font-size: 150%;
  font-family: 'IBM Plex Serif', serif;
  border: 1px solid black;
  padding: 10px 0%;
  border-style: none none dashed none;
}
.wrapper .outerLayer {
  margin: 2%;
  display: flex;
}
.wrapper .outerLayer .projects {
  border: 1px solid black;
  border-style: none solid none none;
  padding: 2%;
}
.wrapper .outerLayer .projects .project img {
  width: 200px;
}
.wrapper .outerLayer .innerLayer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2%;
}
.wrapper .outerLayer .innerLayer h2 {
  font-size: 275%;
}
.wrapper .outerLayer .innerLayer .aboutMe {
  background-color: #686573;
  padding: 1%;
}
.wrapper .outerLayer .innerLayer .aboutMe h2 {
  font-size: 200%;
  border: 1px solid black;
  border-style: none none inset none;
}
.wrapper .outerLayer .innerLayer .workHist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper .outerLayer .innerLayer .workHist p {
  border: 1px solid black;
  font-size: 300%;
}
.wrapper footer {
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
  /* Add a background color and some padding around the form */
}
.wrapper footer input[type=text],
.wrapper footer select,
.wrapper footer textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}
.wrapper footer input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.wrapper footer input[type=submit]:hover {
  background-color: #45a049;
}
.wrapper footer .contact {
  border-radius: 5px;
  background-color: cornflowerblue;
  padding: 20px;
}
